<div *ngIf="this.recieveData" class="primary light p-4 mt-4 border-2">
  <h1 class="fw-600">Welcome to final step</h1>
  <div class="pl-4">
    <div class="fs-lg mb-3 flex align-center">
      <span class="fw-600 block mr-2">You have enetered User Name: </span>
      {{ recieveData.userName }}
    </div>
    <div class="fs-lg mb-3 flex align-center">
      <span class="fw-600 block mr-2">You have enetered Email: </span>
      {{ recieveData.email ? recieveData.email : 'Please enter your email'}}
    </div>
    <div class="fs-lg mb-3 flex align-center">
      <span class="fw-600 block mr-2">You have enetered Phone Number: </span>
      {{ recieveData.phoneNumber ? recieveData.phoneNumber : 'Please enter your phone number'}}
    </div>
  </div>
  <div class="primary dark p-4 " *ngIf="recieveData">
    <button mat-flat-button color="primary" (click)="showTodo()">Show Todo</button>
  </div>
</div>
