<app-header UserName="{{ nameField }}" (booleanEvent)="setVisibility($event)"></app-header>
<div class="below-header">
  <button mat-raised-button color="primary" [routerLink]="'first'">
    First
  </button>
  <button mat-raised-button color="accent" [routerLink]="'second'">
    Todo List
  </button>
  <div class="input-block" *ngIf="visible">
    <span class="block">User Name</span>
    <input
      type="text"
      placeholder="enter your name here"
      name="userName"
      value={{userName}}
      (change)="getName($event)"
    />
  </div>
</div>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
