<div class="content-wrapper">
  <div class="content-heading flex align-center space-between">
    <span class="block">Add todos</span>
    <button mat-button color="accent" class="bg-white" [routerLink]="'/second'">
      Back to list
    </button>
  </div>
  <form [formGroup]="addTodo" (ngSubmit)="onSubmit()">
    <mat-form-field class="block">
      <span class="block input-block">Task Name</span>
      <input matInput
        type="text"
        placeholder="Enter Task Name"
        formControlName="taskName"/>
    </mat-form-field>
    <mat-form-field class="block">
      <span class="block input-block">Task Limit</span>
      <mat-select formControlName="taskEnd" class="block">
        <mat-option value="today">Today</mat-option>
        <mat-option value="One Week">One Week</mat-option>
        <mat-option value="One Month">One Month</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" class="block">
      Submit
    </button>
  </form>
</div>
